body {
  background-color: black;
}

.overlay {
  position: relative;
  display: block;
  width: 200%;
  height: 25em;
  top: 7em;
  background-color: #5d76dc;
}

/*
.topnav {
    background-color: #333;
    overflow: hidden;
    font-family: 'Barlow', sans-serif;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }*/
