#my_favorite_background {
  z-index: -3;
  position: fixed;
  display: block;
  background-image: url("Background.jpg");
  width: 1200px;
  height: 800px;
  filter: blur(5px);
}
p {
  color: brown;
  text-align: center;
}
