.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 471px;
  margin-right: 1224px;
  color: #ffffff;
  font-family: "Abril Fatface", cursive;
  font-size: 150px;
}

body {
  background: #4a9247;
  @media {
    orientation: landscape;
  }
}

.main_txt {
  margin-top: -10px;
  align-content: left;
  text-align: justify;
  font-family: SF Pro Display;
  font-size: xx-large;
  color: #ffffff;
}

.main_web {
  width: 25%;
  background-color: #4a9247;
  border-radius: 6px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 10;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
}

h5 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 289px;
  margin-right: 49px;
}
img.sushi {
  height: 20%;
  width: 30%;
}

.app_button {
  font: bold 11px Arial;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  width: 25%;
  background-color: #4a9247;
  border-radius: 6px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
}
img.phone {
  width: 120%;
  height: 800%;
}
